body{
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.main {
  display: flex;
  justify-content: space-around;
  min-width: 1300px;
  margin: 100px;
  background-color: #ead5ba;
  padding: 25px;
  border-radius: 15px;
}

.list {
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 15px;
  overflow-x:hidden;
  overflow-y:auto;
}
.list::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}

h2 {
  text-align: center;
  background-color:#afab69;
  font-family: "Stack Sans Headline", sans-serif;
  margin: 0;
  width: 350px;
  padding: 10px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: fixed;
}

p {
  font-size: 20px;
  font-family: "Playpen Sans Thai", cursive;
  width: 280px;
}

.task {
  padding: 0 10px;
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 2px;
  border-color: blueviolet;
  width: 280px;
  background-color: #ffdaaa;
  margin-top: 20px;
  
}
.task button{
  visibility: hidden;
}
.task .select{
  visibility: hidden;
}
.task:hover {
  background-color: #9faf69;
}
.task:hover .select{
  visibility: visible;
}
.task:hover button{
  visibility: visible;
}

input {
  max-height: 20px;
  font-size: 16px;
  max-width: 180px;
}
textarea{
  font-family: "Playpen Sans Thai", cursive;
  overflow:hidden;
  min-height: 25px;
  width: 270px;
  font-size: 20px;
}

#addTask{
  margin: 20px;
  padding: 0;
  font-family:sans-serif;
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50px;
  border: 0;
  font-size: 40px;
}

.hiddenHead {
  margin: 20px;
}

/*the code below was borrowed from the internet*/
.select {
  font-family: sans-serif;
  position: relative;
  width: 20px;
}

.select select {
  width: 20px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover{
  stroke: #07f;
}
.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}