.main {
  display: flex;
  justify-content: space-around;
  margin: 100px;
  background-color: #ead5ba;
  padding: 25px;
  border-radius: 15px;
}

.list {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  border-radius: 15px;
}
h2 {
  text-align: center;
  background-color:#afab69;
  font-family: "Stack Sans Headline", sans-serif;
  margin: 0;
  width: 300px;
  padding: 10px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;


}

p {
  font-size: 20px;
  font-family: "Playpen Sans Thai", cursive;
}

.task {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 25px;
  border-radius: 20px;
  border: 2px;
  border-color: blueviolet;
  width: 250px;
}
.task:hover {
  border-style: solid;
  background-color: #9faf69;
  scale: 1.1;
}
.task:hover .select{
  visibility: visible;
}

input {
  font-family: "Playpen Sans Thai", cursive;
  max-height: 20px;
  font-size: 16px;
  max-width: 180px;
}

#addTask{
  margin: 10px;
  padding: 0;
  font-family:sans-serif;
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50px;
  border: 0;
  font-size: 40px;
}

/*the code below was borrowed from the internet*/
.select {
  font-family: sans-serif;
  position: relative;
  width: 20px;
  visibility: hidden;
}

.select select {
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover{
  stroke: #07f;
}
.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}