.main {
    display: flex;
    justify-content: space-around;
    margin: 100px;
    background-color: #ead5ba;
    padding: 25px;
    border-radius: 15px;
}

.list {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 15px;
}
h2 {
    background-color:#9faf69;
    padding: 10px 75px;
    border-radius: 10px;


}

p {
    font-size: 20px;
}

.task{
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 25px;
}

.select {
  font-family: sans-serif;
  position: relative;
  width: 20px;
}

.select select {
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover{
  stroke: #07f;
}
.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
